.card-title {
    background-color: lightcyan;
}

.team-heading {
    background-color: lightslategray;
}

.card-body {
    background-color: beige;
}

.container {
    background-color: lightsteelblue;
}

